<div class="profile-wrapper">
    <div class="profile">
        <div class="profile__avatar">
            <img src="assets/avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="profile__info">
            {{#each (update-password-fields)}}
                {{> Input lableLeft="true" className="profile__input" }}
            {{/each}}
        </div>
        <div class="profile__btn">
            {{> Button text="Сохранить" page="userInfo" className="update-btn"}}
        </div>
    </div>
</div>