/* stylelint-disable-next-line */
@import '../../assets/variables';

.profile-wrapper {
  @extend %flex-wrapper;

  justify-self: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  /* stylelint-disable-next-line */
  align-content: space-between;
  gap: 60px;

  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;

    &-wrapper {
      width: 150px;
      height: 150px;
    }

    .name {
      font: $font-big;
      text-align: center;
    }
  }

  &__info {
    width: 100%;
    align-self: flex-start;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font: $font-regular;

    input {
      width: 100%;
      text-align: end;
      height: 33px;
      border: none;
      border-bottom: 1px solid $blue;
      font: inherit;
      color: $grey;

      &:focus {
        outline: none;
        background-color: unset;
      }
    }

    label {
      position: absolute;
      font: $font-regular;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 20px;

    &_red {
      color: $red;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
