@import "../../../assets/variables.scss";

.input {
  &__title {
    font: $font-micro;
    color: $text-light-color;
  }

  &__field {
    width: 100%;
    height: 28px;
    border: none;
    border-bottom: 1px solid $link-color;
    font: inherit;
    &:focus {
      outline: none;
      background-color: unset;
    }
  }
}
