<div class="profile-wrapper">
    <div class="profile">
        <div class="profile__avatar">
            <img src="../../../assets/avatar.png" alt="Avatar" class="avatar">
            <p class="name">
                Иван
            </p>
        </div>
        <div class="profile__info">
            {{#each (userInfo-fields)}}
                {{> Input readonly="readonly" lableLeft="true" className="profile__input" }}
            {{/each}}
        </div>
        <div class="profile__links">
            {{> Link text="Изменить данные" page="updateInfo"}}
            {{> Link text="Изменить пароль" page="updatePassword"}}
            {{> Link text="Выйти" page="login" className="profile__links_red" }}
        </div>
    </div>
</div>