/* stylelint-disable-next-line */
@import '../../../assets/variables';

.user-item {
  display: flex;
  padding: 10px 0;
  height: 70px;
  border-bottom: 1px solid $lightGrey;

  &__avatar {
    width: 56px;
    height: 56px;
  }

  &__content {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px;

    &__name {
      font: $font-regular;
      margin-bottom: 4px;
    }

    &__text {
      width: 190px;
      color: $grey;
      font: $font-small;
      overflow: hidden;

      span {
        color: $black;
      }
    }
  }

  &__info {
    margin-right: auto;

    &__date {
      color: $grey;
      font: $font-small;
      margin-bottom: 20px;
    }

    &__counts {
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25%;
      border-radius: 50%;
      background: $blue;
      color: $white;
    }
  }
}
