$font-huge: 500 40px/40px 'Inter';
$font-large: 500 20px/20px 'Inter';
$font-big: 600 16px/16px 'Inter';
$font-regular: 500 13px/13px 'Inter';
$font-small: 500 11px/11px 'Inter';
$font-micro: 5009px/9px 'Inter';

$white: #fff;
$black: #1e1e1e;
$blue: #3369f3;
$red: #f00;
$lightBlue: #e4edfd;
$lightBackground: #fbfbfb;
$grey: #999;
$lightGrey: #eaeaea;

%flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
