$font-family: 'Inter';

$font-weight-regular: 500;
$font-weight-semibold: 600;

$font-huge: #{$font-weight-regular} 40px/40px #{$font-family};
$font-large: #{$font-weight-regular} 20px/20px #{$font-family};
$font-big: #{$font-weight-semibold} 16px/16px #{$font-family};
$font-regular: #{$font-weight-regular} 13px/13px #{$font-family};
$font-small: #{$font-weight-regular} 11px/11px #{$font-family};
$font-micro: #{$font-weight-regular} 9px/9px #{$font-family};

$white: #fff;
$black: #1e1e1e;
$blue: #3369f3;
$red: #ff0000;
$lightBlue: #e4edfd;
$lightBackground: #fbfbfb;
$grey: #999;
$lightGrey: #eaeaea;

%flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
