@import "../../../assets/variables.scss";

.dialog-wrapper {
  @extend %flex-wrapper;
}
.dialog {
  width: 340px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 #00000024;
}
